In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
# Load your data into DataFrame 
df = pd.read_csv('patients.csv')

In [3]:
df

   age  gender  prior_missed_appointments  basic_health  ccs_status
0   67       1                          2             1           0
1   34       0                          0             1           1
2   50       1                          1             0           0
3   45       0                          2             1           0
4   37       1                          0             0           1
5   65       1                          3             1           0
6   30       1                          0             1           1
7   49       1                          2             0           0
8   48       0                          1             1           0
9   35       1                          1             0           1

In [4]:
# Let's say the features we are interested in are 'age', 'gender' (encoded as 0 and 1), 'prior_missed_appointments' (number), and 'basic_health' (0 for unhealthy, 1 for healthy)
X = df[['age', 'gender', 'prior_missed_appointments', 'basic_health']]

In [5]:
X

   age  gender  prior_missed_appointments  basic_health
0   67       1                          2             1
1   34       0                          0             1
2   50       1                          1             0
3   45       0                          2             1
4   37       1                          0             0
5   65       1                          3             1
6   30       1                          0             1
7   49       1                          2             0
8   48       0                          1             1
9   35       1                          1             0

In [6]:
# 'ccs_status' is '1' if HEDIS measure CCS met, '0' otherwise
y = df['ccs_status']

In [7]:
y

0    0
1    1
2    0
3    0
4    1
5    0
6    1
7    0
8    0
9    1
Name: ccs_status, dtype: int64

In [8]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [9]:
X_train

   age  gender  prior_missed_appointments  basic_health
9   35       1                          1             0
1   34       0                          0             1
6   30       1                          0             1
7   49       1                          2             0
3   45       0                          2             1
0   67       1                          2             1
5   65       1                          3             1

In [10]:
X_test

   age  gender  prior_missed_appointments  basic_health
2   50       1                          1             0
8   48       0                          1             1
4   37       1                          0             0

In [11]:
y_train

9    1
1    1
6    1
7    0
3    0
0    0
5    0
Name: ccs_status, dtype: int64

In [12]:
y_test

2    0
8    0
4    1
Name: ccs_status, dtype: int64

In [13]:
# Use logistic regression model 
logistic_regression = LogisticRegression()
logistic_regression.fit(X_train, y_train)

LogisticRegression()

In [14]:
# Make predictions using the testing set
y_pred = logistic_regression.predict(X_test)

In [16]:
y_pred

array([0, 0, 1], dtype=int64)

In [15]:
# Evaluate the model
print('Accuracy: ', metrics.accuracy_score(y_test, y_pred))

Accuracy:  1.0